.smx-home {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

}

.smx-info {
  position: absolute;
  right: 0;
  bottom: 0;
  color: $primary-color;
  padding: 16px;
  text-align: end;
  margin-bottom: 16px;

  &__publisher {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    font-family: $secondary-font;
    position: relative;
    display: inline;
    padding-right: 5px;
    background: rgba(103, 129, 140, .4);

    & ~ span {
      display: block;
      margin-bottom: 5px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 5px;
      background: rgba(103, 129, 140, .4);
    }
  }

  &__title {
    //padding: 5px 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 100;
    line-height: 1.65;
    font-family: $primary-font;
    position: relative;
    display: inline;
    background: rgba(103, 129, 140, .4);
    white-space: pre-wrap;
    //padding-right: 5px;
    padding: 5px;

    & ~ span {
      display: block;
      //margin-bottom: 5px;
    }

    //&:after {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  right: 100%;
    //  bottom: 0;
    //  width: 5px;
    //  background: rgba(103, 129, 140, .4);
    //}
  }

  &__artist {
    padding: 5px 0;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1.4;
    font-family: $primary-font;
    position: relative;
    display: inline;
    background: rgba(103, 129, 140, .4);
    white-space: pre-wrap;
    padding-right: 5px;

    & ~ span {
      display: block;
      margin-bottom: 5px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 5px;
      background: rgba(103, 129, 140, .4);
    }
  }

  //&__btn {
  //  position: relative;
  //  float: right;
  //  color: $primary-color;
  //  //border: 1px solid $primary-color;
  //  border-radius: 50%; //0 5px 5px 5px;
  //  //width: 100px;
  //  padding: 12px;
  //  margin: 5px 0;
  //  text-align: center;
  //  text-transform: uppercase;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  background: rgba(255, 54, 93, 0.5); //$accent-color
  //
  //  span {
  //    font-family: $secondary-font;
  //    font-size: 1rem;
  //    font-weight: 400;
  //    //margin-right: 8px;
  //    line-height: 1;
  //  }
  //
  //}

}

.smx-user-actions {
  //height: calc(17vh);
  height: 48px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 24px;
  width: 250px;
  margin: 8px 0;
  background: rgba(103, 129, 140, 0.2);
  float: right;

  .mdl-button {
    margin: 0;
  }

  .mdl-button i {
    top: 40%;
    left: 40%;
    line-height: 36px;
    width: 36px;
  }

  //i {
  //  border-radius: 50%;
    //background: rgba(255, 54, 93, 0.2); //$accent-color
    //padding: 8px;
    //margin-left: 20px;
    //opacity: 1;
  //}
}
