.smx-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 2px;

  &-overlay {
    background-color: $secondary;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
  }
}

.mdl-progress.mdl-progress__indeterminate>.bar1 {
  background-color: $primary;
}


