/*
 *  Mini Player
 */
.smx-miniplayer {
  transform: none; // prevent toast from hiding
  //background: black; // make toast transparent
  width: 100%;
  left: 0; // prevent toast from shrinking in larger screens, e.g. ipad
  z-index: 40000;
  height: 48px;

  color: white;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  &__progress {
    position: absolute;
  }

  &__cover {
    height: 100%;
    width: 48px;

    img {
      height: 100%;
      width: auto;
      padding: 2px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 10px;

    &__title {
      font-weight: 600;
    }

    &__artist {
      font-weight: 300;
    }
  }

  &__play-btn {
    width: 56px;

    .mdl-button {
      color: white;
    }
  }

}