/*
 *  The Player
 */
.smx-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100vh - 48px));
  z-index: 3;
  height: calc(100vh);
  max-height: calc(100vh);
  transition: all 0.2s ease-out;
  background: #121314;

  &__header {
    color: white;
    background: transparent;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
    }

    &__title {
      float: left;
      font-size: 1.2rem;
      text-transform: capitalize;
      padding-left: 16px;
    }
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(60vh - 56px);
    width: 100%;
    //margin: 16px;
    //border: 1px solid red;

    img {
      width: auto;
      height: 90%;
      border-radius: 1px;
    }
  }

  &__info {
    height: calc(15vh);
    //border: 1px solid red;
    color: white;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      padding-top: 8px;
    }

    &__more {
      //padding-bottom: 8px;
      //font-weight: 200;
      color: #88898c;
    }

    &__meta {
      padding-bottom: 8px;
      font-weight: 200;
      color: #88898c;
      font-size: 0.85rem;
    }
  }

  &__controls {
    height: calc(17vh);
    //border: 1px solid red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  &__playing-from {
    height: calc(8vh);
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #88898c;
    font-size: 0.9rem;
    font-weight: 300;
  }

  &.is-full {
    transform: translateY(0);
    z-index: 6;
  }

  &-mini {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    background: #222326;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__play-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      text-transform: capitalize;

      &__title {
        padding-top: 8px;
      }

      &__more {
        padding-bottom: 8px;
        //font-weight: 200;
        color: #88898c;
      }

    }

    &__more {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px
    }
  }

}