/*
 *  The Player
 */
.smx-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100vh - 48px));
  z-index: 3;
  height: calc(100vh);
  max-height: calc(100vh);
  transition: all 0.2s ease-out;
  background: #222326;

  &__header {
    color: white;
    background: transparent;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
    }

    &__title {
      float: left;
      font-size: 1.4rem;
      text-transform: capitalize;
    }
  }

  &.is-full {
    transform: translateY(0);
  }

  &-mini {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    //z-index: 2;
    width: 100%;
    background: #222326;
  }

}