.smx-radio-dropdown {
  color: $accent-color;
  text-transform: capitalize;
  font-weight: 300;
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
}

.smx-radio-tabs {

  &__tab {
    width: 50%;

    &.is-active:after {
      background: $accent-color !important;
    }
  }

  &__panel{

    &.is-fixed {
      overflow: scroll;
      height: 30vh;
    }
  }

}

