.smx-tuner {
  z-index: 6;

  &__header {
    color: $light-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    transform: translateY(-112px);
    //transition: top, bottom, opacity, transform .225s cubic-bezier(.25, .46, .45, .94);
    transition: all .225s cubic-bezier(.25, .46, .45, .94);
    background: $primary-color;
    justify-content: space-between;
    align-items: center;
    display: flex;


    &__title {
      font-size: 1.2rem;
      text-transform: capitalize;
      padding-left: 16px;
    }

    i {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $accent-color;
    }
  }

  &__content {
    color: $light-color;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: 0;
    background: $primary-color;
    transform: translateY(calc(100vh));
    transition: all .225s cubic-bezier(.25, .46, .45, .94);
    overflow: hidden;
    padding: 0 16px;
    display: flex;
    //justify-content: center;
    //align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;

    &__btn {
      border: 1px solid $accent-color;
      border-radius: 10px;
      height: 20px;
      padding: 3px 5px;
      margin: 5px 5px;
      color: $accent-color;
      font-weight: 300;
      min-width: 40px;
      text-align: center;

      &.is-active {
        background: $accent-color;
        color: $primary-color;
      }

      &.is-disabled {
        border: 1px solid $border-color-dark;
        color: $border-color-dark;
      }
    }
  }

  &.is-visible {

    .smx-tuner__header {
      transform: translateY(0);
    }

    .smx-tuner__content {
      transform: translateY(56px);
      height: calc(100vh - 56px);
    }

  }
}