.smx-tuner {
  z-index: 6;

  &__header {
    color: $light-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    transform: translateY(-112px);
    //transition: top, bottom, opacity, transform .225s cubic-bezier(.25, .46, .45, .94);
    transition: all .225s cubic-bezier(.25, .46, .45, .94);
    background: $secondary-color;
    justify-content: space-between;
    align-items: center;
    display: flex;


    &__title {
      font-size: 1.2rem;
      text-transform: capitalize;
      padding-left: 16px;
    }

    i {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    color: $light-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $secondary-color;
    transform: translateY(calc(100vh));
    transition: all .225s cubic-bezier(.25, .46, .45, .94);
    overflow: hidden;
  }

  &.is-visible {

    .smx-tuner__header {
      transform: translateY(0);
    }

    .smx-tuner__content {
      transform: translateY(56px);
      height: calc(100vh - 56px);
    }

  }
}