/**
 *  Colors
 **/

// Inspired by Spotify
//$primary: #222326;
//$secondary: #121314;
//$accent: #FF365D; //e46a6b
//$light: white;
//$dark: #88898c;

// Inspired by Google Arts
$primary-color: #FFFFFF;
$secondary-color: #F5F5F5;
$accent-color: #FF365D; //e46a6b
$light-color: #67818c;
$dark-color: #263238;
$border-color-light: rgba(255,255,255,0.12);
$border-color-dark: #e0e0e0;

/**
 *  Fonts
 **/

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;