/**
 *  Colors
 **/

// Inspired by Spotify
//$primary: #222326;
//$secondary: #121314;
//$accent: #FF365D; //e46a6b
//$light: white;
//$dark: #88898c;

// Inspired by Google Arts
$primary: #FFFFFF;
$secondary: #F5F5F5;
$accent: #FF365D; //e46a6b
$light: #67818c;
$dark: #263238;

/**
 *  Fonts
 **/

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;