// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//Material icons
//http://google.github.io/material-design-icons/
//
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

//Basics
//
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

body {
  //font-family: 'Roboto', sans-serif;
}

//Override defaults

//md-toolbar {
//  min-height: 350px;
//  background: url('/images/background.jpeg');
//  background-size: cover;
//}

// TODO: Do I need this?
md-card md-card-content {
  padding: 8px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  //background-color: transparent;
  //color: rgba(204, 204, 204, 1);
}

md-toolbar, .md-toolbar-tools {
  min-height: 56px;
  height: 56px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  z-index: 61;
}

.material-icons {
  //color: rgba(204, 204, 204, 1);
  //color: white;
}

//.material-icons-inverse {
//  color: black;
//}

md-content:nth-of-type(even) {
  background-color: #F5F5F5;
}

md-menu-bar button {
  //font-size: 0.9;
  color: white;
}

@media screen and (max-width: 1919px) {
  md-sidenav {
    padding-top: 55px;
  }
}

//SMX namespace

//helpers
//.smx-helper-font-weight-100 {
.smx-100 {
  font-weight: 100;
}

.smx-400 {
  font-weight: 400;
}

.smx-helper-border {
  border: 10px solid orangered;
}

//common
.smx-ad-placeholder {
  background: rgb(239, 197, 202);
  background: linear-gradient(135deg, rgba(239, 197, 202, 1) 0%, rgba(210, 75, 90, 1) 50%, rgba(186, 39, 55, 1) 51%, rgba(241, 142, 153, 1) 100%);
  width: 100%;
  height: 100%;
}

//home page
//.smx-headline {
//  font-family: 'Roboto', sans-serif;
//  min-height: 350px;
//  background: url('/images/background.jpeg');
//  background-size: cover;
//  margin-top: -60px;
//  color: white;
//  font-size: 2em;
//  position: relative;
//
//  -webkit-filter: brightness(105%) hue-rotate(350deg);
//  filter: brightness(105%) hue-rotate(350deg);
//}
//
//.smx-headline h1 {
//  font-weight: 300;
//  margin-bottom: 5px;
//}
//
//.smx-headline h4 {
//  font-size: 0.9em;
//  font-weight: 300;
//  margin-top: 0;
//}

//home page - home hero
.smx-home-hero {
  position: relative;
  height: 350px;
  overflow: hidden;
  margin: 3px;
  background: linear-gradient(to right, rgba(88, 99, 124, 1) 0%, rgba(57, 69, 97, 1) 100%);
  background: rgb(88, 99, 124);
}

.smx-home-hero div {
  height: 25%;
}

.smx-home-hero img {
  width: auto;
  height: 100%;
  opacity: 0.4;
}

.smx-home-hero div:first-child {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 200px;
  color: white;
  z-index: 1;
  text-align: center;
}

.smx-home-hero div:first-child h1 {
  margin: 0 auto 5px auto;
  font-weight: 400;
}

.smx-home-hero div:first-child p {
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%;
}

//smx-home-hero height
//@media screen and (min-width: 481px) {
//  .smx-home-hero {
//    padding-top: 32%;
//  }
//}

//@media screen and (min-width: 1279px) {
//  .smx-home-now-playing div:nth-child(2) {
//    padding-left: 16px;
//  }
//}

@media screen and (min-width: 1279px) {
  .smx-home-now-playing,
  .smx-home-top-traxx {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

.smx-home-section-title {
  padding: 8px;
}

//.smx-section h1 {
//  font-weight: 400;
//}

//todo: change me
.smx-section:nth-of-type(even) {
  background-color: #F5F5F5;
}

// this is how I control .smx-horizontal-card img height
// you might need to add more media queries later
//@media (max-width: 599px) {
//  .smx-horizontal-card {
//    max-height: 40vw;
//  }
//}
//
//@media (max-width: 959px) and (min-width: 600px) {
//  .smx-horizontal-card {
//    max-height: 20vw;
//  }
//}
//
//@media (min-width: 960px) {
//  .smx-horizontal-card {
//    max-height: 10vw;
//  }
//}

.smx-horizontal-card {
  max-height: 100px;
}

.smx-horizontal-card img {
  height: auto;
  width: 100%;
  margin: auto;
  padding-left: 8px;
}

//
.smx-collage {
  max-height: 800px;
}

.smx-collage img {
  height: auto;
  width: 100%;
}

//400,300,100,500,700,900
// radio page
.smx-radio-hero {
  min-height: 350px;
  background: url('https://s3.eu-central-1.amazonaws.com/smx-static/RaiNAS_1/RaiNAS/music/live/covers/127cab8db80a945e05f1cc21a9e8c26f.jpeg');
  background-size: 5000% 5000%;
  background-position: center center;
  margin-top: -60px;
  color: white;
  font-size: 2em;
  position: relative;
}

.smx-radio-hero .md-display-2 {
  font-weight: 300;
}

.smx-radio-hero .md-title {
  margin: 0;
  line-height: 1.2em;
}

.smx-radio-hero img {
  margin-left: 50px;
  height: 200px;
}

.smx-radio-hero-details {
  margin-left: 50px;
}

.smx-radio-hero .md-fab.md-primary {
  position: absolute;
  bottom: -35px;
  right: 35px;
  z-index: 2;
}

.smx-radio-tabs {
  width: 100%;
}

//radios page
//.smx-radios-hero {
//  min-height: 200px;
//  background: url('https://s3.eu-central-1.amazonaws.com/smx-static/RaiNAS_1/RaiNAS/music/live/covers/127cab8db80a945e05f1cc21a9e8c26f.jpeg');
//  background-size: 5000% 5000%;
//  background-position: center center;
//  margin-top: -60px;
//  color: white;
//  font-size: 2em;
//  position: relative;
//}
//
//.smx-horizontal-radio-card {
//  max-height: 350px;
//}
//
//.smx-horizontal-radio-card img {
//  height: auto;
//  width: 100%;
//  margin-top: 5px;
//  //margin: auto;
//  padding-left: 8px;
//}
//
//.smx-radio-list-content {
//  margin-top: -100px;
//  background: transparent;
//}

//soulful
.smx-radios-soulful {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin: 3px;
  background: linear-gradient(to right, rgba(88, 99, 124, 1) 0%, rgba(57, 69, 97, 1) 100%);
  background: rgb(88, 99, 124);
}

.smx-radios-soulful:hover {
  background: rgb(0, 0, 0);
  transition: background 0.3s linear;
}

.smx-radios-soulful div {
  height: 25%;
}

.smx-radios-soulful img {
  width: auto;
  height: 100%;
  opacity: 0.4;
}

.smx-radios-soulful div:first-child {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 200px;
  color: white;
  z-index: 1;
  text-align: center;
}

.smx-radios-soulful div:first-child h2 {
  margin: 0 auto 5px auto;
  font-weight: 300;
}

.smx-radios-soulful div:first-child p {
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%;
}

//deep

.smx-radios-deep {
  position: relative;
  height: 247px;
  overflow: hidden;
  margin: 3px;
  background: linear-gradient(to right, rgba(88, 99, 124, 1) 0%, rgba(57, 69, 97, 1) 100%);
  background: rgb(88, 99, 124);
}

.smx-radios-deep:hover {
  background: rgb(0, 0, 0);
  transition: background 0.3s linear;
}

.smx-radios-deep div {
  height: 50%;
}

.smx-radios-deep img {
  width: auto;
  height: 100%;
  opacity: 0.4;
}

.smx-radios-deep div:first-child {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 200px;
  color: white;
  z-index: 1;
  text-align: center;
}

.smx-radios-deep div:first-child h2 {
  margin-bottom: 5px;
  font-weight: 300;
}

.smx-radios-deep div:first-child p {
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%;
}

//tech

.smx-radios-tech {
  position: relative;
  height: 247px;
  overflow: hidden;
  margin: 3px;
  background: linear-gradient(to right, rgba(88, 99, 124, 1) 0%, rgba(57, 69, 97, 1) 100%);
  background: rgb(88, 99, 124);
}

.smx-radios-tech:hover {
  background: rgb(0, 0, 0);
  transition: background 0.3s linear;
}

.smx-radios-tech div {
  height: 50%;
}

.smx-radios-tech img {
  width: auto;
  height: 100%;
  opacity: 0.4;
}

.smx-radios-tech div:first-child {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 200px;
  color: white;
  z-index: 1;
  text-align: center;
}

.smx-radios-tech div:first-child h2 {
  margin-bottom: 5px;
  font-weight: 300;
}

.smx-radios-tech div:first-child p {
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%;
}

//chill
.smx-radios-chill {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 3px;
  background: linear-gradient(to right, rgba(88, 99, 124, 1) 0%, rgba(57, 69, 97, 1) 100%);
  background: rgb(88, 99, 124);
}

.smx-radios-chill:hover {
  background: rgb(0, 0, 0);
  transition: background 0.3s linear;
}

.smx-radios-chill div {
  height: 50%;
}

.smx-radios-chill img {
  width: auto;
  height: 100%;
  opacity: 0.4;
}

.smx-radios-chill div:first-child {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 200px;
  color: white;
  z-index: 1;
  text-align: center;
}

.smx-radios-chill div:first-child h2 {
  margin-bottom: 5px;
  font-weight: 300;
}

.smx-radios-chill div:first-child p {
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%;
}

//Progressive
.smx-radios-progressive {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 3px;
  background: linear-gradient(to right, rgba(88, 99, 124, 1) 0%, rgba(57, 69, 97, 1) 100%);
  background: rgb(88, 99, 124);
}

.smx-radios-progressive:hover {
  background: rgb(0, 0, 0);
  transition: background 0.3s linear;
}

.smx-radios-progressive div {
  height: 50%;
}

.smx-radios-progressive img {
  width: auto;
  height: 100%;
  opacity: 0.4;
}

.smx-radios-progressive div:first-child {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 200px;
  color: white;
  z-index: 1;
  text-align: center;
}

.smx-radios-progressive div:first-child h2 {
  margin-bottom: 5px;
  font-weight: 300;
}

.smx-radios-progressive div:first-child p {
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%;
}

.smx-radios {
  padding: 0 16px;
}

.smx-page-title {
  font-weight: 100;
  font-size: 2em;
  //padding: 8px;
}

//400,300,100,500,700,900

// needed for sidenav to take full height
section {
  height: 100%;
}

.md-sidenav-left {
  width: 300px;
}

.smx-sidenav {
  height: 100%;
  background: #fafafa;
  color: rgba(42, 42, 42, 0.7);
  font-size: 14px;
}

.smx-sidenav i {
  padding: 8px 16px 8px 8px;
}

.smx-sidenav md-divider {
  margin: 12px 0;
}

