// bower:scss
@import "bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

//TODO: check z-indexes

body, html {
  height: 100%;
  background-color: black; //#212121;
  font-family: 'Open Sans', sans-serif;
}

#snackbar {
  z-index: 30000;
}

.smx-layout {

  .check {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    display: block;
    height: 48px;
    width: 48px;
    border: 0;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica,Arial,sans-serif;
    margin: 4px;
    z-index: 4;
  }

  .mdl-layout__header,
  .mdl-layout__drawer-button {
    color: white;
  }

  .mdl-layout__drawer--right {
    width: 100vw;
    height: calc(100vh - 55px);
    top: 55px;
    right: 0;
    border-right: 1px solid black;
    background: black;
    transform: translateX(200vw);
    color: white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100%;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
  }

  .mdl-layout__drawer--right.is-visible {
    transform: translateX(0);
  }

}

.smx-player {

  .mdl-card__title {
    //width: 70vw;
    //height: 85vw;
    height: calc(100vh - 200px);
    max-height: calc(95vw);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: blur(15px);
    opacity: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100vh);
      width: 100%;
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    }
  }

  &__cards {
    height: calc(100vh - 120px);
    width: 100%;
    white-space: nowrap;
    //overflow-x: auto;
    //transform: translateX(-74vw);
    //transition: transform 0.25s ease-in-out;
    display: flex;
    justify-content: center;
  }

  &__card {
    //display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;

    &.mdl-card {
      width: calc(100vh - 200px);
      max-width: calc(95vw);
      margin-top: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .mdl-card__supporting-text {
      text-align: center;
      padding: 10px;
      color: #fff;
    }

    & > .mdl-card__title {
      color: #fff;
      width: 100%;
    }

    &__title {
      font-weight: 300;
    }

    &__artist {
      font-size: 0.9rem;
      padding-top: 3px;
    }

    &__album {
      font-size: 0.9rem;
      font-weight: 600;
      padding-top: 3px;
      color: lightpink;
    }

  }

  &__menu {
    transform: none; // prevent toast from hiding
    background: transparent; // make toast transparent
    width: 100%;
    left: 0; // prevent toast from shrinking in larger screens, e.g. ipad
    z-index: 20000;

    &__items {
      display: flex;
      justify-content: space-around;
      padding-left: calc(15vw);
      padding-right: calc(15vw);
      width: 100%;
      z-index: 20000;

      @include min-screen(768px) {
        min-width: 100%; // prevent toast from shrinking in larger screens, e.g. ipad
      }

    }

  }

}

.smx-drawer {

  &.mdl-layout__drawer {
    top: 55px;
    width: 100vw;
    height: calc(100vh - 55px);
    transform: translateX(-100vw);
    background: black;
    color: white;
    border-right: 1px solid black;
    //opacity: 0.9;
    background: transparent;
    z-index: 30000;

    //display: flex;
    //align-items: flex-start;

    .mdl-list__item {
      color: white;
    }
  }

  &.mdl-layout__drawer.is-visible {
    transform: translateX(0);
  }

  & ~ .mdl-layout__obfuscator.is-visible {
    opacity: 0;
  }

  &__inner {
    height: calc(100vh - 55px);
    width: 100vw;
    //width: calc(100vh - 200px);
    //max-width: calc(97.5vw);
    background: black;
    opacity: 1;
  }

  &__menu {
    transform: none; // prevent toast from hiding
    background: transparent; // make toast transparent
    width: 100%;
    left: 0; // prevent toast from shrinking in larger screens, e.g. ipad
    z-index: 20000;

    &__items {
      display: flex;
      justify-content: flex-start;
      padding-left: 8px !important;
      //padding-left: calc(15vw);
      //padding-right: calc(15vw);
      width: 100%;
      z-index: 20000;

      @include min-screen(768px) {
        min-width: 100%; // prevent toast from shrinking in larger screens, e.g. ipad
      }

    }

  }

}

//.browserupgrade {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}

//Material icons
//.material-icons {
//  font-family: 'Material Icons';
//  font-weight: normal;
//  font-style: normal;
//  font-size: 24px; /* Preferred icon size */
//  display: inline-block;
//  line-height: 1;
//  text-transform: none;
//  letter-spacing: normal;
//  word-wrap: normal;
//  white-space: nowrap;
//  direction: ltr;
//
//  /* Support for all WebKit browsers. */
//  -webkit-font-smoothing: antialiased;
//  /* Support for Safari and Chrome. */
//  text-rendering: optimizeLegibility;
//
//  /* Support for Firefox. */
//  -moz-osx-font-smoothing: grayscale;
//
//  /* Support for IE. */
//  font-feature-settings: 'liga';
//}
//
///* Rules for sizing the icon. */
//.material-icons.md-18 {
//  font-size: 18px;
//}
//
//.material-icons.md-24 {
//  font-size: 24px;
//}
//
//.material-icons.md-36 {
//  font-size: 36px;
//}
//
//.material-icons.md-48 {
//  font-size: 48px;
//}
//
///* Rules for using icons as black on a light background. */
//.material-icons.md-dark {
//  color: rgba(0, 0, 0, 0.54);
//}
//
//.material-icons.md-dark.md-inactive {
//  color: rgba(0, 0, 0, 0.26);
//}
//
///* Rules for using icons as white on a dark background. */
//.material-icons.md-light {
//  color: rgba(255, 255, 255, 1);
//}
//
//.material-icons.md-light.md-inactive {
//  color: rgba(255, 255, 255, 0.3);
//}

//Basics
//
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

//Override defaults

//md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
//  background-color: transparent !important;
//}

//md-toolbar, .md-toolbar-tools {
//  position: relative;
//  min-height: 56px;
//  height: 56px;
//  //background-color: transparent !important;
//  background-color: #1C1C1F !important;
//}
//
//@media screen and (max-width: 1279px) {
//  md-sidenav {
//    //padding-top: 15px;
//  }
//  md-list-item.md-2-line,
//  md-list-item.md-2-line > .md-no-style {
//    min-height: 1px !important;
//  }
//}

//SMX namespace

//
// Helpers
//
//.smx-100 {
//  font-weight: 100;
//}
//
//.smx-300 {
//  font-weight: 300;
//}
//
//.smx-400 {
//  font-weight: 400;
//}
//
//// Width? better off with this
//.smx-no-wrap {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: clip;
//}
//
////padding
//.smx-no-padding {
//  padding: 0 !important;
//}
//
//.smx-padding-8 {
//  padding: 8px !important;
//}
//
//.smx-padding-16 {
//  padding: 16px !important;
//}
//
//.smx-padding-24 {
//  padding: 24px !important;
//}
//
//.smx-top-padding-8 {
//  padding-top: 8px !important;
//}
//
//.smx-x-padding-8 {
//  padding-left: 8px !important;
//  padding-right: 8px !important;
//}
//
//.smx-x-padding-16 {
//  padding-left: 16px !important;
//  padding-right: 16px !important;
//}
//
//.smx-x-padding-24 {
//  padding-left: 24px !important;
//  padding-right: 24px !important;
//}
//
//.smx-y-padding-8 {
//  padding-top: 8px !important;
//  padding-bottom: 8px !important;
//}
//
//.smx-y-padding-16 {
//  padding-top: 16px !important;
//  padding-bottom: 16px !important;
//}
//
//.smx-y-padding-24 {
//  padding-top: 24px !important;
//  padding-bottom: 24px !important;
//}
//
////margin
//.smx-no-margin {
//  margin: 0 !important;
//}
//
//.smx-margin-8 {
//  margin: 8px !important;
//}
//
//.smx-margin-16 {
//  margin: 16px !important;
//}
//
//.smx-margin-24 {
//  margin: 24px !important;
//}
//
//.smx-top-margin-8 {
//  margin-top: 8px !important;
//}
//
//.smx-top-margin-24 {
//  margin-top: 24px !important;
//}
//
//.smx-x-margin-8 {
//  margin-left: 8px !important;
//  margin-right: 8px !important;
//}
//
//.smx-x-margin-16 {
//  margin-left: 16px !important;
//  margin-right: 16px !important;
//}
//
//.smx-x-margin-24 {
//  margin-left: 24px !important;
//  margin-right: 24px !important;
//}
//
//.smx-y-margin-8 {
//  margin-top: 8px !important;
//  margin-bottom: 8px !important;
//}
//
//.smx-y-margin-16 {
//  margin-top: 16px !important;
//  margin-bottom: 16px !important;
//}
//
//.smx-y-margin-24 {
//  margin-top: 24px !important;
//  margin-bottom: 24px !important;
//}
//
////background colors
//.smx-background-light-grey {
//  background-color: #F5F5F5;
//}
//
//.smx-background-grey {
//  background-color: #EEEEEE;
//}
//
//.smx-background-dark-grey {
//  background-color: #37474F;
//}
//
////text colors
//.smx-color-white {
//  color: white;
//}
//
//.smx-color-light-grey {
//  color: #F5F5F5;
//}
//
//.smx-color-grey {
//  color: #EEEEEE;
//}
//
//.smx-color-light-black {
//  color: rgba(0,0,0,0.54);
//}
//
////
//// Helpers end
////
//
//// SMX namespace
//.smx-player {
//  position: absolute;
//  top: 0;
//  //padding: 0 10vw;
//  height: calc(100vh - 53px);
//  width: 100vw;
//}
//

//
//.smx-player-cover {
//  z-index: 1;
//  //border: 1px solid white;
//  padding: 0 calc((55vh - 50vw)/2);
//  width: 100%;
//  height: auto;
//  background: transparent;
//}
//
//.smx-player-cover img {
//  width: auto;
//  height: 100%;
//  margin-right: calc((55vh - 50vw)/2 - 5px);
//  //margin-left: 4vw;
//  opacity: 0.8;
//}
//
//.smx-header-text {
//  font-weight: 300;
//  //margin-top: -6px;
//}
//
//.smx-header-text h1 {
//  font-size: 0.8rem;
//  font-weight: 300;
//}
//
//.smx-header-text span {
//  font-size: 0.9rem;
//  font-weight: 400;
//  text-transform: uppercase;
//}
//
//.smx-player-info {
//  //border: 1px solid white;
//  width: 100%;
//  height: auto;
//  z-index: 2;
//}
//
//.smx-player-controls,
//.smx-player-duration {
//  width: 100%;
//}
//
//.smx-player-duration {
//  font-size: 0.6rem;
//  color: grey;
//}
//
//.smx-player-duration-bar {
//  position: relative;
//  border-top: 2px solid grey;
//  width: 75%;
//}
//
//.smx-player-duration-bar-played {
//  position: absolute;
//  top: -2px;
//  border-top: 2px solid white;
//  width: 30%;
//}
//
//.smx-player-duration-bar-cursor {
//  position: absolute;
//  top: -4px;
//  left: 30%;
//  border-radius: 50%;
//  width: 6px;
//  height: 6px;
//  background-color: white;
//}
//
//@media all and (orientation: landscape) {
//
//  .smx-player {
//    padding: 0 5vw 16px 5vw;
//  }
//
//  .smx-player-cover {
//    width: 50%;
//    min-height: 100%;
//    //Add padding both sides to keep the image square
//    //This is calculated by subtracting the viewport height
//    //(minus toolbar height minus .smx-player bottom padding)
//    //from the width of the div (which is always 45vw)
//    padding-left: calc((45vw - (100vh - 53px - 16px))/2);
//    padding-right: calc((45vw - (100vh - 53px - 16px))/2);
//  }
//
//  .smx-player-info {
//    width: 50%;
//    min-height: 100%;
//  }
//
//}
//
//.smx-play-button-circle {
//  position: relative;
//  border: 1px solid white;
//  border-radius: 50%;
//  width: 60px;
//  height: 60px;
//  top-margin: 5px;
//  //z-index: 0;
//}
//
//.smx-play-button {
//  position: absolute;
//  top: 10px;
//  left: 11px;
//  //z-index: 1;
//}
//
//.smx-loading-button {
//  position: absolute;
//  top: -32px;
//  left: -33px;
//  //z-index: 0;
//}
//
//.smx-player-title-actions {
//  width: 100%;
//}
//
////300,400,600,700,800
//
//.smx-player-title {
//  height: 48px;
//}
//
//.smx-player-title h2{
//  font-size: 0.8em;
//  font-weight: 700;
//  margin: 2px 0;
//}
//
//.smx-player-title span{
//  font-size: 0.8em;
//  font-weight: 300;
//  margin: 0;
//}

//.smx-player-title h3{
//  font-size: 0.7em;
//  font-weight: 600;
//  margin: 4px 0;
//}
