<div class="smx-container" layout="column" style="height:100%">

    <md-toolbar>
        <div layout-align="space-between" class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openMenu()">
                <i class="material-icons">menu</i>
            </md-button>
            <div flex="60" layout="column" layout-align="center center" class="smx-header-text">
                <h1 class="smx-no-wrap">Now playing {{vm.slf.artist}}</h1>
                <span>in Soulful House</span>
            </div>
            <!--<span flex></span>-->
            <md-button class="md-icon-button" aria-label="Settings">
                <i class="material-icons" ui-sref="settings">settings</i>
            </md-button>
        </div>
    </md-toolbar>

    <section layout="row" flex style="height:100%">

        <div class="smx-player-background"
             style="background-image: url('{{vm.slf.coverUrl}}')"></div>

        <md-sidenav
                class="md-sidenav-left"
                md-component-id="sidenav"
                md-is-locked-open="$mdMedia('gt-md')"
                md-disable-backdrop
                md-whiteframe="4">
            <md-content class="smx-sidenav">
                <md-list>
                    <!--<md-divider></md-divider>-->
                    <md-list-item ui-sref="home">
                        <i class="material-icons">favorite_border</i>
                        <p>Favourites</p>
                    </md-list-item>
                    <md-list-item ui-sref="home">
                        <i class="material-icons">info</i>
                        <p>About</p>
                    </md-list-item>
                    <md-list-item ui-sref="home">
                        <i class="material-icons">feedback</i>
                        <p>Send feedback</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content flex layout="column" style="height:100%">

            <section id="player">

                <audio src="http://broadcast.smoothtraxx.gr:8000/ds128" autoplay></audio>

                <div layout="column" layout-align="center center" layout-wrap class="smx-player">

                    <div flex-xs="65" layout="column" layout-align="start center" class="smx-player-cover">
                        <img ng-src="{{vm.slf.coverUrl}}"/>
                    </div>

                    <div flex-xs="35" layout="column" layout-align="space-between center" class="smx-player-info">

                        <div layout="row" layout-align="space-between center"
                             class="smx-player-duration smx-y-margin-8">
                            <span>2:41</span>
                            <div class="smx-player-duration-bar">
                                <div class="smx-player-duration-bar-played"></div>
                                <div class="smx-player-duration-bar-cursor"></div>
                            </div>
                            <span>7:11</span>
                        </div>

                        <div layout="row" layout-align="space-between center"
                             class="smx-player-controls smx-y-margin-16">
                            <a><i class="material-icons md-light md-24" href>favorite_border</i></a>
                            <a><i class="material-icons md-light md-24" href>star_border</i></a>
                            <div class="smx-play-button-circle">
                                <i ng-click="vm.play()" ng-hide="vm.isPlaying || vm.isBuffering" class="material-icons md-light md-36 smx-play-button">play_arrow</i>
                                <i ng-click="vm.pause()" ng-show="vm.isPlaying" class="material-icons md-light md-36 smx-play-button">pause</i>
                                <div ng-if="vm.isBuffering" layout="row" layout-sm="column" layout-align="space-around" class="smx-loading-button">
                                    <md-progress-circular md-mode="indeterminate" md-diameter="123"></md-progress-circular>
                                </div>
                            </div>
                            <a><i class="material-icons md-light md-24" href>share</i></a>
                            <a><i class="material-icons md-light md-24" href>more_vert</i></a>
                        </div>


                        <div layout="column" layout-align="center center" class="smx-player-title smx-y-margin-8">
                            <h2 class="smx-no-wrap">{{vm.slf.title}}</h2>
                            <span class="smx-no-wrap">{{vm.slf.artist}}</span>
                        </div>

                    </div>

                </div>

            </section>

        </md-content>


        <md-sidenav
                class="md-sidenav-right md-whiteframe-4dp"
                md-component-id="settingsnav"
                md-is-locked-open="$mdMedia('gt-md')"
                md-disable-backdrop
                md-whiteframe="4">
            <md-content class="smx-settingsnav" layout-padding>
                <md-list-item ui-sref="home">
                    <i class="material-icons">favorite_border</i>
                    <p>Favourites</p>
                </md-list-item>
                <md-list-item ui-sref="home">
                    <i class="material-icons">info</i>
                    <p>About</p>
                </md-list-item>
                <md-list-item ui-sref="home">
                    <i class="material-icons">feedback</i>
                    <p>Send feedback</p>
                </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

    </section>

</div>
