.smx-home(style="background-image: url({{vm.slf.coverUrl}})")
.smx-info
    .smx-info__publisher {{vm.slf.publisher}}
    span
    .smx-info__title {{vm.slf.title}}
    span
    .smx-info__artist {{vm.slf.artist}}
    span
    .smx-user-actions
        i.material-icons.md-24 info
        i.material-icons.md-24 share
        i.material-icons.md-24 favorite
        button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
            i.material-icons.md-36 play_arrow
