.smx-pool(ng-class="{'is-visible': poolIsVisible}")
    .smx-pool__table
        .smx-pool__table__cover
            img(src="https://s3.eu-central-1.amazonaws.com/smx-static/RaiNAS_1/RaiNAS/music/live/covers/b20af0e974b8ad98d04db3e655f39a25.jpeg")
        .smx-pool__table__info
            .smx-pool__table__info__actions
                i.material-icons.md-24 add
                i.material-icons.md-24 favorite_border
                i.material-icons.md-24 share
                i.material-icons.md-24 thumb_down
            .smx-pool__table__info__details
                .smx-pool__table__info__details__title Do it right (feat. Tkay maidza)
                .smx-pool__table__info__details__more Martin Solveig - Do it right (feat. Tkay maidza)
                //.smx-pool__table__info__details__meta Soulful House | 2014 | Defected
    .smx-pool__actions
        span Listen to radio like this
        span Report this track
.smx-pool__obfuscator(ng-class="{'is-visible': poolIsVisible}", ng-click="poolIsVisible = !poolIsVisible")

