<!DOCTYPE html>
<html ng-app="app" ng-cloak>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta name="theme-color" content="#212121">-->
    <!-- Roboto font and Material Design icons-->
    <!--link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', rel='stylesheet')-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!-- build:css styles/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <!-- endbower-->
    <!-- endbuild-->
    <!-- Mdl needs this to show icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-cloak>
    <!--.mdl-layout.mdl-js-layout(ngsf-fullscreen='')-->
    <!--.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header-->
    <div class="mdl-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" ng-cloak>
      <header class="mdl-layout__header smx-header" ng-cloak>
        <div class="mdl-layout__header-row"><span class="mdl-layout-title" ng-cloak>{{navTitle}}</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="smx-burger" ng-click="sideNavIsVisible = !sideNavIsVisible" ng-class="{'is-open': sideNavIsVisible}"><span>line</span></div>
      <div class="mdl-layout__drawer mdl-layout__drawer--smx-drawer" ng-class="{'is-visible': sideNavIsVisible}">
        <div class="mdl-layout__drawer--smx-drawer__logo"></div>
        <nav class="ul mdl-list">
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'home'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">home</i><a ui-sref="home" ng-click="sideNavIsVisible = !sideNavIsVisible">Home</a></span></li>
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'radio'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">radio</i><a ui-sref="radio" ng-click="sideNavIsVisible = !sideNavIsVisible">Radio</a></span></li>
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'new'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">new_releases</i><a ui-sref="home" ng-click="sideNavIsVisible = !sideNavIsVisible">New</a></span></li>
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'your music'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">library_music</i><a ui-sref="home" ng-click="sideNavIsVisible = !sideNavIsVisible">Your Music</a></span></li>
          <li class="mdl-list__item-divider"></li>
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'settings'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">settings</i><a ui-sref="home" ng-click="sideNavIsVisible = !sideNavIsVisible">Settings</a></span></li>
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'about'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">info</i><a ui-sref="home" ng-click="sideNavIsVisible = !sideNavIsVisible">About</a></span></li>
          <li class="mdl-list__item" ng-class="{'is-active': navTitle === 'send feedback'}"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">feedback</i><a ui-sref="home" ng-click="sideNavIsVisible = !sideNavIsVisible">Send feedback</a></span></li>
        </nav>
      </div>
      <div class="mdl-layout__obfuscator" ng-class="{'is-visible': sideNavIsVisible}"></div>
      <!--(ng-class="{'is-pushed': sideNavIsVisible}")-->
      <main class="mdl-layout__content">
        <div ui-view style="height:100%"></div>
      </main>
      <div class="smx-player" ng-show="playerIsVisible" ng-class="{'is-full': playerIsFull}" ng-controller="PlayerController as vm">
        <div class="smx-player__header">
          <div class="smx-player__header__title">Now playing</div>
          <div class="smx-player__header__icon" ng-click="vm.hideFullPlayer()"><i class="material-icons md-24">keyboard_arrow_down</i></div>
        </div>
        <div class="smx-player__cover"><img ng-src="{{vm.covers[0]}}"></div>
        <div class="smx-player__info">
          <div class="smx-player__info__title">Do it right (feat. Tkay maidza)</div>
          <div class="smx-player__info__more">Martin Solveig - Do it right (feat. Tkay maidza)</div>
          <div class="smx-player__info__meta">Soulful House | 2014 | Defected</div>
        </div>
        <div class="smx-player__controls"><i class="material-icons md-24">add</i><i class="material-icons md-24">skip_previous</i><i class="material-icons md-36">play_arrow</i><i class="material-icons md-24">skip_next</i><i class="material-icons md-24">more_vert</i></div>
        <div class="smx-player__playing-from">playing from soulful house radio</div>
        <div class="smx-player-mini" ng-click="vm.showFullPlayer()" ng-hide="playerIsFull">
          <div class="smx-player-mini__play-btn"><i class="material-icons md-24">play_arrow</i></div>
          <div class="smx-player-mini__info">
            <div class="smx-player-mini__info__title">I would like</div>
            <div class="smx-player-mini__info__more">Zara Larsson - I would like - Single</div>
          </div>
          <div class="smx-player-mini__more"><i class="material-icons md-24">more_vert</i></div>
        </div>
      </div>
      <div class="smx-tuner" ng-class="{'is-visible': tunerIsVisible}">
        <div class="smx-tuner__header"><span class="smx-tuner__header__title">choose & mix</span><i class="material-icons md-24" ng-click="tunerIsVisible = !tunerIsVisible">close</i></div>
        <div class="smx-tuner__bg"></div>
        <div class="smx-tuner__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna metus, maximus in dolor quis, volutpat imperdiet purus. In condimentum enim id iaculis fermentum. Duis tristique, tellus eu gravida volutpat, sem sem finibus ante, eu ultricies nunc ligula porta augue. Mauris vitae neque accumsan, aliquam lorem at, consectetur metus. Mauris imperdiet ornare est, eu blandit leo vehicula ut. Vestibulum tincidunt, lorem gravida congue malesuada, purus enim congue velit, ut auctor urna mauris eu erat. Phasellus non ex fringilla, lacinia erat ac, bibendum ante.</div>
      </div>
    </div>
    <div class="smx-loader mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-show="stateIsLoading"></div>
    <div class="smx-loader-overlay" ng-show="stateIsLoading"></div>
    <script src="/bower_components/screenfull/dist/screenfull.min.js"></script>
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    <script src="/bower_components/angular-screenfull/dist/angular-screenfull.js"></script>
    <!-- endbower-->
    <!-- endbuild-->
    <!-- app-->
    <script src="scripts/app.js"></script>
    <!-- core-->
    <script src="scripts/core/core.module.js"></script>
    <!-- common-->
    <script src="scripts/common/common.module.js"></script>
    <script src="scripts/common/player/player.module.js"></script>
    <script src="scripts/common/player/player.controller.js"></script>
    <script src="scripts/common/tuner/tuner.module.js"></script>
    <script src="scripts/common/tuner/tuner.controller.js"></script>
    <!-- home-->
    <script src="scripts/home/home.module.js"></script>
    <script src="scripts/home/home.controller.js"></script>
    <script src="scripts/home/home.routes.js"></script>
    <!-- home-->
    <script src="scripts/radio/radio.module.js"></script>
    <script src="scripts/radio/radio.controller.js"></script>
    <script src="scripts/radio/radio.routes.js"></script>
    <!-- traxx-->
    <script src="scripts/traxx/traxx.module.js"></script>
    <script src="scripts/traxx/traxx.controller.js"></script>
    <script src="scripts/traxx/traxx.routes.js"></script>
    <!-- settings-->
    <script src="scripts/settings/settings.module.js"></script>
    <script src="scripts/settings/settings.controller.js"></script>
    <script src="scripts/settings/settings.routes.js"></script>
    <!-- services-->
    <script src="scripts/services/icecast.service.js"></script>
    <script src="scripts/services/track.service.js"></script>
    <!-- directives-->
    <!--script(src='scripts/common/player/player.directive.js')-->
  </body>
</html>