
<!--header.smx-header.mdl-layout__header.mdl-layout__header--transparent-->
<!--    .mdl-layout__header-row-->
<!--        // Title-->
<!--        span.mdl-layout-title Title-->
<!--        // Add spacer, to align navigation to the right-->
<!--        .mdl-layout-spacer-->
<!--        // Navigation-->
<!--        nav.mdl-navigation-->
<!--            a.mdl-navigation__link(href='') Link-->
<!--            a.mdl-navigation__link(href='') Link-->
<!--            a.mdl-navigation__link(href='') Link-->
<!--            a.mdl-navigation__link(href='') Link-->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row"><span class="mdl-layout-title">Home</span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp"><i class="material-icons">search</i></label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" id="fixed-header-drawer-exp" type="text" name="sample"/>
      </div>
    </div>
  </div>
</header>