header.mdl-layout__header.smx-header(ng-cloak)
    .mdl-layout__header-row
        span.mdl-layout-title(ng-cloak) {{navTitle}}
        .mdl-layout-spacer
.smx-burger(ng-click="sideNavIsVisible = !sideNavIsVisible",
            ng-class="{'is-open': sideNavIsVisible}")
    span line

