header.mdl-layout__header
    .mdl-layout__header-row
        span.mdl-layout-title Home
        .mdl-layout-spacer
.smx-burger.mdl-button.mdl-button--icon(ng-click="sideNavIsVisible = !sideNavIsVisible")
    i.material-icons menu

