
<div class="smx-pool" ng-class="{'is-visible': poolIsVisible}">
  <div class="smx-pool__table">
    <div class="smx-pool__table__cover"><img src="https://s3.eu-central-1.amazonaws.com/smx-static/RaiNAS_1/RaiNAS/music/live/covers/b20af0e974b8ad98d04db3e655f39a25.jpeg"/></div>
    <div class="smx-pool__table__info">
      <div class="smx-pool__table__info__actions"><i class="material-icons md-24">add</i><i class="material-icons md-24">favorite_border</i><i class="material-icons md-24">share</i><i class="material-icons md-24">thumb_down</i></div>
      <div class="smx-pool__table__info__details">
        <div class="smx-pool__table__info__details__title">Do it right (feat. Tkay maidza)</div>
        <div class="smx-pool__table__info__details__more">Martin Solveig - Do it right (feat. Tkay maidza)</div>
        <!--.smx-pool__table__info__details__meta Soulful House | 2014 | Defected-->
      </div>
    </div>
  </div>
  <div class="smx-pool__actions"><span>Listen to radio like this</span><span>Report this track</span></div>
</div>
<div class="smx-pool__obfuscator" ng-class="{'is-visible': poolIsVisible}" ng-click="poolIsVisible = !poolIsVisible"></div>