
<!--.smx-sidenav.mdl-layout__drawer-->
<!--    .smx-sidenav__title-->
<!--        // <i class="material-icons">fingerprint</i>-->
<!--        span Menu-->
<!--    .smx-sidenav__close(ng-click='vm.hideSidenav()')-->
<!--        i.material-icons close-->
<!--    nav-->
<!--        ul.mdl-list-->
<!--            li.mdl-list__item-->
<!--                span.mdl-list__item-primary-content-->
<!--                    i.material-icons.mdl-list__item-icon home-->
<!--                    a(ui-sref='home') Home-->
<!--            li.mdl-list__item-->
<!--                span.mdl-list__item-primary-content-->
<!--                    i.material-icons.mdl-list__item-icon radio-->
<!--                    a(ui-sref='home') Radio-->
<!--            li.mdl-list__item-->
<!--                span.mdl-list__item-primary-content-->
<!--                    i.material-icons.mdl-list__item-icon library_music-->
<!--                    a(ui-sref='traxx') Your Music-->
<!--            li.mdl-list__item-->
<!--                span.mdl-list__item-primary-content-->
<!--                    i.material-icons.mdl-list__item-icon settings-->
<!--                    |                         Settings-->
<!--            li.mdl-list__item-->
<!--                span.mdl-list__item-primary-content-->
<!--                    i.material-icons.mdl-list__item-icon info-->
<!--                    |                         About-->
<!--            li.mdl-list__item-->
<!--                span.mdl-list__item-primary-content-->
<!--                    i.material-icons.mdl-list__item-icon feedback-->
<!--                    |                         Send Feeback-->
<!---->
<div class="mdl-layout__drawer"><span class="mdl-layout-title">Home</span>
  <nav class="mdl-navigation"><a class="mdl-navigation__link" href="">Link</a><a class="mdl-navigation__link" href="">Link</a><a class="mdl-navigation__link" href="">Link</a><a class="mdl-navigation__link" href="">Link</a></nav>
</div>