.mdl-layout__drawer.mdl-layout__drawer--smx-drawer(ng-class="{'is-visible': sideNavIsVisible}")
    .mdl-layout__drawer--smx-drawer__logo
    nav.ul.mdl-list
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon home
                a(ui-sref='home', ng-click="sideNavIsVisible = !sideNavIsVisible") Home
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon radio
                a(ui-sref='radio', ng-click="sideNavIsVisible = !sideNavIsVisible") Radio
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon new_releases
                a(ui-sref='home', ng-click="sideNavIsVisible = !sideNavIsVisible") New
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon library_music
                a(ui-sref='home', ng-click="sideNavIsVisible = !sideNavIsVisible") Your Music
        li.mdl-list__item-divider
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon settings
                a(ui-sref='home', ng-click="sideNavIsVisible = !sideNavIsVisible") Settings
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon info
                a(ui-sref='home', ng-click="sideNavIsVisible = !sideNavIsVisible") About
        li.mdl-list__item
            span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-icon feedback
                a(ui-sref='home', ng-click="sideNavIsVisible = !sideNavIsVisible") Send feedback
.mdl-layout__obfuscator(ng-class="{'is-visible': sideNavIsVisible}")