.smx-tuner(ng-class="{'is-visible': tunerIsVisible}")
    .smx-tuner__header
        span.smx-tuner__header__title Pick genres
        i.material-icons.md-24(ng-click="tunerIsVisible = !tunerIsVisible") close
    .smx-tuner__bg
    .smx-tuner__content
        .smx-tuner__content__btn.is-active Soulful House
        .smx-tuner__content__btn Deep House
        .smx-tuner__content__btn Progressive house
        .smx-tuner__content__btn Jackin House
        .smx-tuner__content__btn Minimal
        .smx-tuner__content__btn Afro House
        .smx-tuner__content__btn.is-disabled Electro
        .smx-tuner__content__btn.is-active RnB
        .smx-tuner__content__btn Chill out
        .smx-tuner__content__btn Soulful House
        .smx-tuner__content__btn Deep House
        .smx-tuner__content__btn.is-disabled Progressive house
        .smx-tuner__content__btn.is-disabled Jackin House
        .smx-tuner__content__btn.is-disabled Minimal
        .smx-tuner__content__btn Afro House
        .smx-tuner__content__btn Electro
        .smx-tuner__content__btn RnB
        .smx-tuner__content__btn.is-active Chill out
        .smx-tuner__content__btn Soulful House
        .smx-tuner__content__btn Deep House
        .smx-tuner__content__btn Progressive house
        .smx-tuner__content__btn Jackin House
        .smx-tuner__content__btn.is-disabled Minimal
        .smx-tuner__content__btn Afro House
        .smx-tuner__content__btn Electro
        .smx-tuner__content__btn RnB
        .smx-tuner__content__btn Chill out
        .smx-tuner__content__btn.is-disabled Minimal
        .smx-tuner__content__btn.is-disabled Afro House
        .smx-tuner__content__btn Electro
        .smx-tuner__content__btn RnB

