.smx-tuner(ng-class="{'is-visible': tunerIsVisible}")
    .smx-tuner__header
        span.smx-tuner__header__title choose & mix
        i.material-icons.md-24(ng-click="tunerIsVisible = !tunerIsVisible") close
    .smx-tuner__bg
    .smx-tuner__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna metus, maximus in dolor quis, volutpat imperdiet purus. In condimentum enim id iaculis fermentum. Duis tristique, tellus eu gravida volutpat, sem sem finibus ante, eu ultricies nunc ligula porta augue. Mauris vitae neque accumsan, aliquam lorem at, consectetur metus. Mauris imperdiet ornare est, eu blandit leo vehicula ut. Vestibulum tincidunt, lorem gravida congue malesuada, purus enim congue velit, ut auctor urna mauris eu erat. Phasellus non ex fringilla, lacinia erat ac, bibendum ante.