<md-toolbar md-whiteframe="4">

  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openMenu()">
      <i class="material-icons md-dark">menu</i>
    </md-button>
    <h2>
      <span>Smoothtraxx | Radio</span>
    </h2>
    <span flex=""></span>


    <md-button class="md-icon-button" aria-label="Share">
      <i class="material-icons md-dark">share</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Search">
      <i class="material-icons md-dark">search</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Account">
      <i class="material-icons md-dark">account_circle</i>
    </md-button>
  </div>
</md-toolbar>

<section layout="row">

  <!--<md-sidenav md-component-id="menu" class="md-sidenav-left"-->
  <!--md-is-locked-open="$mdMedia('gt-md')"-->
  <!--md-disable-backdrop-->
  <!--md-whiteframe="4">-->
  <!--My menu-->
  <!--</md-sidenav>-->

  <md-sidenav
    class="md-sidenav-left"
    md-component-id="menu"
    md-is-locked-open="$mdMedia('gt-md')"
    md-disable-backdrop
    md-whiteframe="4">
    <!--<md-toolbar class="md-theme-indigo">-->
    <!--<h1 class="md-toolbar-tools">Sidenav Left</h1>-->
    <!--</md-toolbar>-->
    <md-content class="smx-sidenav">
      <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>-->
      <!--Close Sidenav Left-->
      <!--</md-button>-->
      <!--<p hide show-gt-md>-->
      <!--This sidenav is locked open on your device. To go back to the default behavior,-->
      <!--narrow your display.-->
      <!--</p>-->
      <md-list>
        <md-list-item ui-sref="home">
          <i class="material-icons">home</i>
          <p>Home</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="null">
          <i class="material-icons">radio</i>
          <p>Radio</p>
        </md-list-item>
        <md-list-item ng-click="null">
          <i class="material-icons">star</i>
          <p>Top Traxx</p>
        </md-list-item>
        <md-list-item ng-click="null">
          <i class="material-icons">new_releases</i>
          <p>Recently Added</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="null">
          <i class="material-icons">favorite_border</i>
          <p>Favourites</p>
        </md-list-item>
        <md-list-item ng-click="null">
          <i class="material-icons">info</i>
          <p>About</p>
        </md-list-item>
        <md-list-item ng-click="null">
          <i class="material-icons">feedback</i>
          <p>Send feedback</p>
        </md-list-item>
      </md-list>


    </md-content>
  </md-sidenav>

  <md-content class="smx-radios" flex>

    <h1 flex-gt-md="80" flex-offset-gt-md="10" class="md-display-1 smx-page-title">Pick your Radio</h1>


    <!--a wrapped row with columns-->
    <div layout="row" flex-gt-md="80" flex-offset-gt-md="10" layout-no-wrap>

      <!--column 1-->
      <div flex="60" layout="column" class="smx-radios-soulful">

        <div>
          <h2 class="md-display-1">Soulful House</h2>
          <p class="md-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac finibus nisi. Praesentsedcongue ex, a volutpat nisl. Nunc pulvinar erat at consequat sagittis.</p>
        </div>

        <div flex="25" layout="row" layout-align="start start">
          <img src="{{vm.imgUrl}}04d65851dc50e26395066064258e8ad9.jpeg"/>
          <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
          <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
          <img src='{{vm.imgUrl}}031d68c527e3bd87e5cfe6695a5670a2.png'/>
          <img src='{{vm.imgUrl}}076d3d1ea81f4ff4e1f8e52423204dcf.jpeg'/>
        </div>
        <div flex="25" layout="row" layout-align="end end">
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}06124207eab441d3ccdcaa4b450064ee.jpg'/>
          <img src='{{vm.imgUrl}}0532d42fdce8f06cc66429cce3b037e1.jpg'/>
          <img src='{{vm.imgUrl}}051fc3d4c1bd33aca238c8d0df145bd1.jpeg'/>
        </div>
        <div flex="25" layout="row" layout-align="end end">
          <img src='{{vm.imgUrl}}05093cb9975d30c4f94ec1b9bf95a056.jpeg'/>
          <img src='{{vm.imgUrl}}0726d3d8281d470051d50486134d1e60.jpeg'/>
          <img src='{{vm.imgUrl}}03275d61bed5a555e62b5bde7dbc7e10.jpeg'/>
          <img src='{{vm.imgUrl}}03307d3a3a64f5e90fd87d15aa2475d2.jpeg'/>
        </div>
        <div flex="25" layout="row" layout-align="end end">
          <img src='{{vm.imgUrl}}65a31de58a4013dd70f5e9fff9a7ab05.jpeg'/>
          <img src='{{vm.imgUrl}}65a31de58a4013dd70f5e9fff9a7ab05.jpeg'/>
          <img src='{{vm.imgUrl}}000a474600ff8f2f8dcec2002d015595.jpg'/>
          <img src='{{vm.imgUrl}}07cd8d0916f6f8cca704adb038df26b3.jpeg'/>
          <img src='{{vm.imgUrl}}04ec4b1b1497397ec3aeb1f4ea8628e6.jpeg'/>
        </div>

      </div>


      <!--column 2-->
      <div flex="40" layout="column">

        <div flex="50" layout="column" class="smx-radios-deep">

          <div>
            <h2 class="md-display-1">Deep House</h2>
            <p class="md-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac finibus nisi. Praesent
              sed
              congue ex, a volutpat nisl. Nunc pulvinar erat at consequat sagittis.</p>
          </div>

          <div flex="50" layout="row" layout-align="start end">
            <img src="{{vm.imgUrl}}04d65851dc50e26395066064258e8ad9.jpeg"/>
            <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
            <img src='{{vm.imgUrl}}031d68c527e3bd87e5cfe6695a5670a2.png'/>
            <img src='{{vm.imgUrl}}076d3d1ea81f4ff4e1f8e52423204dcf.jpeg'/>
          </div>
          <div flex="50" layout="row" layout-align="start end">
            <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
            <img src='{{vm.imgUrl}}06124207eab441d3ccdcaa4b450064ee.jpg'/>
            <img src='{{vm.imgUrl}}0532d42fdce8f06cc66429cce3b037e1.jpg'/>
            <img src='{{vm.imgUrl}}051fc3d4c1bd33aca238c8d0df145bd1.jpeg'/>
          </div>

        </div>

        <div flex="50" layout="column" class="smx-radios-tech">

          <div>
            <h2 class="md-display-1">Tech House</h2>
            <p class="md-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac finibus nisi. Praesent
              sed
              congue ex, a volutpat nisl. Nunc pulvinar erat at consequat sagittis.</p>
          </div>

          <div flex="50" layout="row" layout-align="start end">
            <img src="{{vm.imgUrl}}04d65851dc50e26395066064258e8ad9.jpeg"/>
            <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
            <img src='{{vm.imgUrl}}031d68c527e3bd87e5cfe6695a5670a2.png'/>
            <img src='{{vm.imgUrl}}076d3d1ea81f4ff4e1f8e52423204dcf.jpeg'/>
          </div>
          <div flex="50" layout="row" layout-align="start end">
            <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
            <img src='{{vm.imgUrl}}06124207eab441d3ccdcaa4b450064ee.jpg'/>
            <img src='{{vm.imgUrl}}0532d42fdce8f06cc66429cce3b037e1.jpg'/>
            <img src='{{vm.imgUrl}}051fc3d4c1bd33aca238c8d0df145bd1.jpeg'/>
          </div>

        </div>

      </div>


    </div>


    <!--a wrapped row with columns-->
    <div layout="row" flex-gt-md="80" flex-offset-gt-md="10" layout-no-wrap>

      <!--column 1-->
      <div flex="50" layout="column" class="smx-radios-chill">

        <div>
          <h2 class="md-display-1 ">Chill House</h2>
          <p class="md-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac finibus nisi. Praesent
            sed
            congue ex, a volutpat nisl. Nunc pulvinar erat at consequat sagittis.</p>
        </div>

        <div flex="50" layout="row" layout-align="end end">
          <img src="{{vm.imgUrl}}04d65851dc50e26395066064258e8ad9.jpeg"/>
          <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
          <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
          <img src='{{vm.imgUrl}}031d68c527e3bd87e5cfe6695a5670a2.png'/>
          <img src='{{vm.imgUrl}}076d3d1ea81f4ff4e1f8e52423204dcf.jpeg'/>
        </div>
        <div flex="50" layout="row" layout-align="end end">
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}06124207eab441d3ccdcaa4b450064ee.jpg'/>
          <img src='{{vm.imgUrl}}0532d42fdce8f06cc66429cce3b037e1.jpg'/>
          <img src='{{vm.imgUrl}}051fc3d4c1bd33aca238c8d0df145bd1.jpeg'/>
        </div>

      </div>


      <!--column 2-->
      <div flex="50" layout="column" class="smx-radios-progressive">

        <div>
          <h2 class="md-display-1 ">Progressive House</h2>
          <p class="md-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac finibus nisi. Praesent
            sed
            congue ex, a volutpat nisl. Nunc pulvinar erat at consequat sagittis.</p>
        </div>

        <div flex="50" layout="row" layout-align="end end">
          <img src="{{vm.imgUrl}}04d65851dc50e26395066064258e8ad9.jpeg"/>
          <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
          <img src='{{vm.imgUrl}}03d1fc6f4eaaff2bda3e527d0c28eadc.jpeg'/>
          <img src='{{vm.imgUrl}}031d68c527e3bd87e5cfe6695a5670a2.png'/>
          <img src='{{vm.imgUrl}}076d3d1ea81f4ff4e1f8e52423204dcf.jpeg'/>
        </div>
        <div flex="50" layout="row" layout-align="end end">
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}063d774295fffb2bce82238d848aa009.jpeg'/>
          <img src='{{vm.imgUrl}}06124207eab441d3ccdcaa4b450064ee.jpg'/>
          <img src='{{vm.imgUrl}}0532d42fdce8f06cc66429cce3b037e1.jpg'/>
          <img src='{{vm.imgUrl}}051fc3d4c1bd33aca238c8d0df145bd1.jpeg'/>
        </div>

      </div>


    </div>

  </md-content>

</section>



