.smx-home-featured(style="background-image: url({{vm.covers[0]}});")
    .smx-home-featured__info
        .smx-home-featured__info__title Now playing on radio1
        .smx-home-featured__info__subtitle Belong - Ananda project
        .smx-home-featured__info__btn(ng-click="vm.showPlayer()")
            span Listen now
            i.material-icons play_circle_filled
.smx-home-new
    .smx-home-new__title Recently added
    ul.mdl-list.mdl-list--smx-list
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[1]}}").mdl-list__item-img
                span Bryan Cranston
                span.mdl-list__item-sub-title Fool I am
            span.mdl-list__item-secondary-content
                span.mdl-list__item-secondary-info
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[2]}}").mdl-list__item-img
                span Aaron Ross
                span.mdl-list__item-sub-title Lady finger
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[3]}}").mdl-list__item-img
                span Bob Odenkirk
                span.mdl-list__item-sub-title Sure thing
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[4]}}").mdl-list__item-img
                span Bob Odenkirk
                span.mdl-list__item-sub-title Sure thing
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[5]}}").mdl-list__item-img
                span Bob Odenkirk
                span.mdl-list__item-sub-title Sure thing
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
.smx-home-popular
    .smx-home-popular__title Popular
    .smx-home-popular__grid
        .smx-home-popular__grid__cell
            img(ng-src="{{vm.covers[7]}}")
            span.smx-home-popular__grid__cell__title Trust
            span.smx-home-popular__grid__cell__artist Thulane da producer
        .smx-home-popular__grid__cell
            img(ng-src="{{vm.covers[8]}}")
            span.smx-home-popular__grid__cell__title Good stuff
            span.smx-home-popular__grid__cell__artist Semitone
        .smx-home-popular__grid__cell
            img(ng-src="{{vm.covers[9]}}")
            span.smx-home-popular__grid__cell__title Lunatic
            span.smx-home-popular__grid__cell__artist Garden of Eden
        .smx-home-popular__grid__cell
            img(ng-src="{{vm.covers[6]}}")
            span.smx-home-popular__grid__cell__title Trust
            span.smx-home-popular__grid__cell__artist Thulane da producer
        .smx-home-popular__grid__cell
            img(ng-src="{{vm.covers[5]}}")
            span.smx-home-popular__grid__cell__title Good stuff
            span.smx-home-popular__grid__cell__artist Semitone
        .smx-home-popular__grid__cell
            img(ng-src="{{vm.covers[4]}}")
            span.smx-home-popular__grid__cell__title Lunatic
            span.smx-home-popular__grid__cell__artist Garden of Eden
.smx-home-collection
    .smx-home-collection__title Your music
    ul.mdl-list.mdl-list--smx-list
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[8]}}").mdl-list__item-img
                span Bryan Cranston
                span.mdl-list__item-sub-title Fool I am
            span.mdl-list__item-secondary-content
                span.mdl-list__item-secondary-info
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[7]}}").mdl-list__item-img
                span Aaron Ross
                span.mdl-list__item-sub-title Lady finger
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[6]}}").mdl-list__item-img
                span Bob Odenkirk
                span.mdl-list__item-sub-title Sure thing
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[5]}}").mdl-list__item-img
                span Aaron Ross
                span.mdl-list__item-sub-title Lady finger
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                img(ng-src="{{vm.covers[4]}}").mdl-list__item-img
                span Bob Odenkirk
                span.mdl-list__item-sub-title Sure thing
            span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(href='#')
                    i.material-icons more_vert
